.navbar {
    background-color: #fff;
    &-top {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__menu-button {
            display: none;
        }
    }
    &__search {
        margin-right: auto;
        margin-left: 100px;
    }
    &-bottom {
        background-color: $dark;
    }
    &-menu {
        padding: 31px 0;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__link {
            color: inherit;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
        }
    }
}
.logo {
    width: 177px;
    height: auto;
}
.search {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    height: 40px;
    &__input {
        width: 350px;
        height: 40px;
        padding-left: 23px;
        padding-right: 75px;
        border: none;
        background-color: #F5FAFE;
        font-size: 12px;
        line-height: 15px;
        color: $text-color;
    }
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $primary;
        border: none;
        width: 65px;
    }
}
.user {
    display: flex;
    align-items: center;
    &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__name {
        font-size: 14px;
        line-height: 18px;
        margin-left: 18px;
    }
}