.hotel {
    padding-top: 23px;
    padding-bottom: 70px;
    &-info {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-name {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        margin-top: 4px;
        margin-bottom: 0px;
    }
    &-description {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        margin: 5px;
    }
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-grid {
        display: flex;
        justify-content: space-between;
    }
    &-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-slider {
        width: 728px;
        height: 450px;
        margin-left: 0;
        &__button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
            width: 30px;
            height: 30px;
            border: none;
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 10px;
            background-color: transparent;
            &--prev {
                left: 18px;
                background-image: url(../images/arrow-prev.svg);
            }
            &--next {
                right: 18px;
                background-image: url(../images/arrow-next.svg);
            }
        }
        &__item {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
                z-index: 9;
            }
        }
    }
}
.stars {
    width: 100%;
}
.offer {
    margin-left: 14px;
    margin-top: 4px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    background-color: $primary;
    padding: 4px 9px;
    color: #fff;
    border-radius: 3px;
}
.rating {
    background-color: $primary;
    color: #fff;
    padding: 8px 7px;
    max-width: 65px;
    min-height: 45px;
    border-radius: 4px;
    text-align: center;
    &__text {
        font-weight: 600;
        font-size: 8px;
        line-height: 10px;
    }
    &__counter {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
    }
}

.booking {
    padding: 27px;
    background-color: $dark;
    border-radius: 8px;
    color: #fff;
    width: 350px;
    min-height: 210px;
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
    }
    &__price {
        display: flex;
        flex-direction: column;
    }
    &__start {
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
    }
    &__pricetag {
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
    }
    &__per-room {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }
    &__text {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }
    &__description {
        margin-left: 8px;
    }
    &__call-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;
    }
    &__heading {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }
    &__number {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #fff;
    }
    &__num {
        margin-left: 8px;
    }
    &__button {
        background-color: $primary;
        border-radius: 4px;
        color: #fff;
        width: 100%;
        min-height: 45px;
        border: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        cursor: pointer;
    }
}
.map {
    border-radius: 10px;
    width: 347px;
    height: 213px;
    overflow: hidden;
}